# env
.env
# configs
config.json
# node modules
node_modules
# Unnecessary clutter
.eslintrc.json
# youtube throaway cookies file (if this gets leaked, the only thing an attacker would get access to is a moot)
cookies.txt
